[submodule "Backend"]
	path = backend
	url = https://github.com/Code-Lotus/api3-backend.git
[submodule "Frontend"]
	path = frontend
	url = https://github.com/Code-Lotus/api3-frontend.git
[submodule "Database"]
	path = database
	url = https://github.com/Code-Lotus/api3-database.git
