[submodule "Backend"]
	path = backend
	url = https://github.com/Code-Lotus/api3-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Code-Lotus/api3-frontend.git
[submodule "database"]
	path = database
	url = https://github.com/Code-Lotus/api3-database.git
